# Ignore all contents in these folders
DF40/

dfdc_deepfake_challenge/weights/*
!dfdc_deepfake_challenge/weights/.gitkeep

dfdc_deepfake_challenge/test_videos/*
!dfdc_deepfake_challenge/test_videos/.gitkeep

image_text/models/*
!image_text/models/.gitkeep

image_text/images/*
!image_text/images/.gitkeep

ai_detector/model.safetensors/

SimSwap/checkpoints/*
!SimSwap/checkpoints/.gitkeep

SimSwap/arcface_model/*
!SimSwap/arcface_model/.gitkeep
